<header class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-dark" href="#">
      <img src="../../../assets/images/logo.jpg" class="img" style="height: 50px;"> Turntabl Codewars Leaderboard</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="section p-4 bg-dark">
<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Choose Order
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" (click)= "userSelect('all_users')">All Users</a></li>
    <li><a class="dropdown-item" (click)= "userSelect('honour')">Honour</a></li>
    <li><a class="dropdown-item" (click)= "userSelect('overallRank')">Overall Rank</a></li>
    
  </ul>
</div>

<div class="dropdown p-2">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Languages
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" (click)= "getLeaderBoardByLanguage('java')">Java</a></li>
    <!-- <li><a class="dropdown-item" (click)= "userSelect('honour')">Python</a></li>
    <li><a class="dropdown-item" (click)= "userSelect('overallRank')">Javascript</a></li> -->
    
  </ul>
</div>
  <div class="col-md-2 mx-auto">
      <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New User</button>
  </div>

  <!--Honour-->
  <div class="table text-white" *ngIf="selector == 'honour'">
      <span class="h5">Leaderboard</span>
      <table id="example" class="table table-striped mb-3 bg-light rounded text-center" style="width:100%">
          <thead>
              <tr>
                  <th>Position</th>
                  <th>UserName</th>
                  <th>Honour</th>
                  <!-- <th>Overall Rank</th>
                  <th>Languages</th> -->
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let leaderboardData of honour_data;let i= index">
                  <td>{{i+1}}</td>
                  <td>{{leaderboardData.username}}</td>
                  <td>{{leaderboardData.honour}}</td>
                  <!-- <td>{{leaderboardData.overall_rank}}</td>
                  <td><span *ngFor="let languages of leaderboardData.languages; let a = index"> <span style="font-size: 11px;"> {{a+1}}. </span>{{languages.name}} </span></td> -->
              </tr>
          </tbody>
      </table>
  </div>

    <!--All Users-->
    <div class="table text-white" *ngIf="selector == 'all_users'">
      <span class="h5">Leaderboard</span>
      <table id="example" class="table table-striped mb-3 bg-light rounded text-center" style="width:100%">
          <thead>
              <tr>
                  <th>Position</th>
                  <th>UserName</th>
                  <th>Honour</th>
                  <th>Overall Rank</th>
                  <th>Languages</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let leaderboardData of users_data;let i= index">
                  <td>{{i+1}}</td>
                  <td>{{leaderboardData.username}}</td>
                  <td>{{leaderboardData.honour}}</td>
                  <td>{{leaderboardData.overall_rank}}</td>
                  <td><span *ngFor="let languages of leaderboardData.languages; let a = index"> <span style="font-size: 11px;"> {{a+1}}. </span>{{languages.name}} </span></td>
              </tr>
          </tbody>
      </table>
  </div>

   <!--Overall Rank-->
   <div class="table text-white" *ngIf="selector == 'overallRank'">
    <span class="h5">Leaderboard</span>
    <table id="example" class="table table-striped mb-3 bg-light rounded text-center" style="width:100%">
        <thead>
            <tr>
                <th>Position</th>
                <th>UserName</th>
                <th>Overall Rank</th>
                <!-- <th>Languages</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leaderboardData of overall_rank_data;let i= index">
                <td>{{i+1}}</td>
                <td>{{leaderboardData.username}}</td>
                <td>{{leaderboardData.overall_rank}}</td>
                <!-- <td><span *ngFor="let languages of leaderboardData.languages; let a = index"> <span style="font-size: 11px;"> {{a+1}}. </span>{{languages.name}} </span></td> -->
            </tr>
        </tbody>
    </table>
</div>

 <!--Java-->
 <div class="table text-white" *ngIf="language == 'java'">
  <span class="h5">Java Leaderboard</span>
  <table id="example" class="table table-striped mb-3 bg-light rounded text-center" style="width:100%">
      <thead>
          <tr>
              <th>Position</th>
              <th>UserName</th>
              <th>Java Rank</th>
              <!-- <th>Languages</th> -->
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let leaderboardData of language_data;let i= index">
              <td>{{i+1}}</td>
              <td>{{leaderboardData.username}}</td>
              <td>{{leaderboardData.languages[0].rank}}</td>
              <!-- <td><span *ngFor="let languages of leaderboardData.languages; let a = index"> <span style="font-size: 11px;"> {{a+1}}. </span>{{languages.name}} </span></td> -->
          </tr>
      </tbody>
  </table>
</div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="col-10 mx-auto">
                  <label class="col-form-label">Enter a UserName</label>
                  <input [(ngModel)]="username" type="text" name="name" class="form-control" id="name">
              </div>

              <div class="col-1 mx-auto m-3"> 
                  <button (click)="addUser()" class="btn btn-info btn-sm mx-auto text-white">Add</button></div>
          </div>

      </div>
  </div>
</div>